html, body{
    padding: 0%;
    height: 100%;
}

body{
    background: #ffffff;    
    background-size: cover;
    background-attachment: fixed
}

.titulo-negocio {
    margin-top: 20px;
    margin-bottom: 10px;
	text-align: center;
	h1 {
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#000000 10%, #00c013 50%, #030202 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		background-clip: text;
		-webkit-background-clip: text;
		animation: textclip 10.5s linear infinite;
		display: inline-block;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        font-weight: bold;;
	}

    p {
		color: #000000;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#000000 10%, #259f00 50%, #000000 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #000000;
		background-clip: text;
		-webkit-background-clip: text;
		animation: textclip 4.5s linear infinite;
		display: inline-block;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        font-size: 19px;
	}
}

.span-blanco{
    color: #259f00 !important;
}

.span-negro{
    color: #000000 !important;
    font-weight: bold;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}


.card {
    border-radius: 10px;
    background-color: transparent;
    border: 0px;
}

.fonts {
    font-size: 18px;
}

.social-list {
    padding: 0;
    list-style-type: none  !important;
    display: flex;
    justify-content: center;
}

.social-list-vertical{
    padding: 0;
    list-style-type: none  !important;
}

.social-list-vertical li{
    padding: 5px !important;
    cursor: pointer  !important;
    font-size: 20px  !important;
}

.social-list-vertical li a{
    color: #000;
    padding: 20px;
    border: 1px solid #259f00;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: block;
    text-align: left;
    text-decoration: none;
}

.social-list-vertical li a i{
    margin-right: 10px;
}

.social-list-vertical li a span{
    font-weight: 1000;
}

.social-list li {
    padding: 5px !important;
    cursor: pointer  !important;
    font-size: 20px  !important;
}

.social-list li a{
    color: #259f00;
    padding: 10px;
    border: 1px solid #259f00;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.social-list li a:hover, .social-list-vertical li a:hover, ul.entidades li a:hover{
    color: #fff;
    background-color: #000000;
}



/* Reset básico */
* { box-sizing: border-box; }
html, body {
  height: 100%;
  margin: 0;
}

/* Contenido base para ver el efecto */
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui, sans-serif;
}

/* Overlay full screen encima del body */
#overlay {
  position: fixed;       /* Encima de todo */
  inset: 0;              /* top/right/bottom/left: 0 */
  z-index: 9999;         /* Asegura que esté arriba */
  pointer-events: none;  /* No bloquea interacción con el contenido */
  overflow: hidden;

  /* Fondo: usa tu imagen o gradiente */
  background-image: url('../imagenes/bg_pattern_td.png');
  transition: background-position 0.05s linear; /* Suaviza pequeños saltos */
}

/* Opcional: oscurecer ligeramente para no distraer demasiado */
#overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255, 0.09);
}

ul.entidades{
    padding: 0;
    list-style-type: none  !important;
    display: flex;
    justify-content: center;
}

ul.entidades li a{
    padding: 10px;
    border: 1px solid #259f00;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.text-left{
    text-align: left !important;
}

label{
    font-weight: bold;
}
form{
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-bg-success, .btn-success {
    color: #fff !important;
    background-color: #259f00 !important;
}